@for $i from 1 to 20 {
    .mt#{$i} {
        margin-top: $i*10px !important;
    }
    .mb#{$i} {
        margin-bottom: $i*10px !important;
    }
    .mr#{$i} {
        margin-right: $i*10px !important;
    }
    .ml#{$i} {
        margin-left: $i*10px !important;
    }

    @media (max-width:768px){
        .mt#{$i}{
            @if $i*10px - 15px > 0{
                margin-top: $i*10px - 15px !important;
            }
        }
        .mb#{$i}{
            @if $i*10px - 15px > 0{
                margin-bottom: $i*10px - 15px !important;
            }
        }
        .mr#{$i}{
            @if $i*10px - 15px > 0{
                margin-right: $i*10px - 15px !important;
            }
        }
        .ml#{$i}{
            @if $i*10px - 7px > 0{
                margin-left: $i*10px - 15px !important;
            }
        }
    }
}

.mauto {
    margin: auto;
}

.abs-right {
    position: absolute;
    right: 0;
}

.abs-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 3.125em;
}

.upper {
    text-transform: uppercase;
}

.secondarycolor {
    color: var(--secondary-color);
}

