@for $i from 1 to 21 {
    .mt#{$i} {
        margin-top: $i*10px !important;
    }
    .mb#{$i} {
        margin-bottom: $i*10px !important;
    }
    .mr#{$i} {
        margin-right: $i*10px !important;
    }
    .ml#{$i} {
        margin-left: $i*10px !important;
    }
    @media (max-width:768px) {
        .mt#{$i} {
            @if $i*10px - 10px>0 {
                margin-top: $i*10px - 10px !important;
            }
        }
        .mb#{$i} {
            @if $i*10px - 10px>0 {
                margin-bottom: $i*10px - 10px !important;
            }
        }
        .mr#{$i} {
            @if $i*10px - 10px>0 {
                margin-right: $i*10px - 10px !important;
            }
        }
        .ml#{$i} {
            @if $i*10px - 10px>0 {
                margin-left: $i*10px - 10px !important;
            }
        }
    }
}

.m0 {
    margin: 0;
}

.mauto {
    margin: auto;
}

.abs-right {
    position: absolute;
    right: 0;
}

.abs-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-size: 3.125rem;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.upper {
    text-transform: uppercase;
}

.secondarycolor {
    color: var(--secondary-color);
}

.bold {
    font-weight: bold;
}

.txtcenter {
    text-align: center;
}

.txtjustify {
    text-align: justify;
}

.scalehover:hover,
.scalehover:focus,
.scalehover:active {
    transform-origin: center center;
    transform: scale(1.05);
    transition: 0.1s linear;
    position: relative;
}

.hidden {
    display: none;
}

.hoverglow {
    transition: color .3s linear;
}

.backglow {
    transition: background-color .3s linear;
}

.hoverglow:hover,
.hoverglow:focus {
    color: var(--secondary-color);
}

.backglow:hover,
.backglow:focus {
    background-color: var(--secondary-color);
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.inline {
    display: inline-block;
}

.no-txt-transform {
    text-transform: none !important;
}

.pointer {
    cursor: pointer;
}