* {
  box-sizing: border-box;
}

.group {
  display: flow-root;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

:root {
  --secondary-color: #10638c;
  --text-color: rgb(0, 0, 0);
  --separator: rgb(71, 71, 71);
  --background-color: rgb(255, 255, 255);
  --max-width: 1400px;
  --err-color: #ff5b5b;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #444;
    --background-color: rgb(206, 206, 206);
    --secondary-color: #198ec8;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(206, 206, 206);
    --background-color: #1b1b1b;
  }
}
a {
  text-decoration: none;
  font-weight: normal;
  color: var(--text-color);
}

.hoverglow {
  transition: color 0.3s linear;
}

.backglow {
  transition: background-color 0.3s linear;
}

.hoverglow:hover,
.hoverglow:focus {
  color: var(--secondary-color);
}

.backglow:hover,
.backglow:focus {
  background-color: var(--secondary-color);
}

::selection {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.hidden {
  display: none;
}

i {
  display: inline-block;
}

.right {
  margin-right: 0;
  margin-left: auto;
}

.body {
  min-width: auto;
  min-height: calc(100vh - 100px);
  width: 100%;
  height: max-content;
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--separator);
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
header {
  max-width: var(--max-width);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--background-color);
  transition: opacity 0.1s linear;
  z-index: 1000;
}
header .menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}
header .menu .right {
  margin: auto;
}
header .menu_voice {
  width: auto;
  height: 100%;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 1em;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100vw;
  border-bottom: 2px solid var(--separator);
}

header:hover,
header:focus {
  opacity: 1;
}

.fullvw {
  width: 100vw;
}

.fullvh {
  height: 100vh;
}

.fullw {
  width: 100%;
}

.fullh {
  height: 100%;
}

.pos-rel {
  position: relative;
}

.login_container {
  max-width: calc(var(--max-width) - 400px);
  min-width: 300px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto;
}

input {
  position: relative;
  border: 0;
  background: transparent;
  color: var(--text-color);
  width: 100%;
  outline: 0;
  display: block;
}

.input_container {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid var(--secondary-color);
}
.input_container input {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: auto;
}
.input_container input[type=date] {
  height: auto;
}

label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: all 0.1s linear;
  text-transform: capitalize;
}

input:focus + label,
input:not(:placeholder-shown) + label,
input:not(:-moz-placeholder) + label,
input:not(::-webkit-input-placeholder) + label {
  top: 20%;
  left: 17px;
  font-size: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

input:focus {
  background-color: var(--background-color);
}

input[type=submit] {
  display: block;
  padding: 0;
}

.submitbtn {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  display: block;
}
.submitbtn input {
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  width: 100%;
}
.submitbtn input:focus {
  background-color: var(--secondary-color);
}

.err {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  color: var(--err-color);
}

.err:not(.hidden) + .input_container {
  border-color: var(--err-color);
}

#eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.1s linear;
}

#eye:focus,
#eye:hover {
  background-color: var(--secondary-color);
}

footer {
  width: 100%;
  border-top: 2px solid var(--separator);
  height: 50px;
  display: grid;
  grid-template-rows: repeat(3, 33.3333333333%);
  grid-template-columns: repeat(5, 20%);
}

.cc {
  grid-column: 1/6;
  grid-row: 2;
  text-align: center;
  margin: auto 0;
  opacity: 0.5;
}

.mt1 {
  margin-top: 10px !important;
}

.mb1 {
  margin-bottom: 10px !important;
}

.mr1 {
  margin-right: 10px !important;
}

.ml1 {
  margin-left: 10px !important;
}

@media (max-width: 768px) {
  .ml1 {
    margin-left: -5px !important;
  }
}
.mt2 {
  margin-top: 20px !important;
}

.mb2 {
  margin-bottom: 20px !important;
}

.mr2 {
  margin-right: 20px !important;
}

.ml2 {
  margin-left: 20px !important;
}

@media (max-width: 768px) {
  .mt2 {
    margin-top: 5px !important;
  }

  .mb2 {
    margin-bottom: 5px !important;
  }

  .mr2 {
    margin-right: 5px !important;
  }

  .ml2 {
    margin-left: 5px !important;
  }
}
.mt3 {
  margin-top: 30px !important;
}

.mb3 {
  margin-bottom: 30px !important;
}

.mr3 {
  margin-right: 30px !important;
}

.ml3 {
  margin-left: 30px !important;
}

@media (max-width: 768px) {
  .mt3 {
    margin-top: 15px !important;
  }

  .mb3 {
    margin-bottom: 15px !important;
  }

  .mr3 {
    margin-right: 15px !important;
  }

  .ml3 {
    margin-left: 15px !important;
  }
}
.mt4 {
  margin-top: 40px !important;
}

.mb4 {
  margin-bottom: 40px !important;
}

.mr4 {
  margin-right: 40px !important;
}

.ml4 {
  margin-left: 40px !important;
}

@media (max-width: 768px) {
  .mt4 {
    margin-top: 25px !important;
  }

  .mb4 {
    margin-bottom: 25px !important;
  }

  .mr4 {
    margin-right: 25px !important;
  }

  .ml4 {
    margin-left: 25px !important;
  }
}
.mt5 {
  margin-top: 50px !important;
}

.mb5 {
  margin-bottom: 50px !important;
}

.mr5 {
  margin-right: 50px !important;
}

.ml5 {
  margin-left: 50px !important;
}

@media (max-width: 768px) {
  .mt5 {
    margin-top: 35px !important;
  }

  .mb5 {
    margin-bottom: 35px !important;
  }

  .mr5 {
    margin-right: 35px !important;
  }

  .ml5 {
    margin-left: 35px !important;
  }
}
.mt6 {
  margin-top: 60px !important;
}

.mb6 {
  margin-bottom: 60px !important;
}

.mr6 {
  margin-right: 60px !important;
}

.ml6 {
  margin-left: 60px !important;
}

@media (max-width: 768px) {
  .mt6 {
    margin-top: 45px !important;
  }

  .mb6 {
    margin-bottom: 45px !important;
  }

  .mr6 {
    margin-right: 45px !important;
  }

  .ml6 {
    margin-left: 45px !important;
  }
}
.mt7 {
  margin-top: 70px !important;
}

.mb7 {
  margin-bottom: 70px !important;
}

.mr7 {
  margin-right: 70px !important;
}

.ml7 {
  margin-left: 70px !important;
}

@media (max-width: 768px) {
  .mt7 {
    margin-top: 55px !important;
  }

  .mb7 {
    margin-bottom: 55px !important;
  }

  .mr7 {
    margin-right: 55px !important;
  }

  .ml7 {
    margin-left: 55px !important;
  }
}
.mt8 {
  margin-top: 80px !important;
}

.mb8 {
  margin-bottom: 80px !important;
}

.mr8 {
  margin-right: 80px !important;
}

.ml8 {
  margin-left: 80px !important;
}

@media (max-width: 768px) {
  .mt8 {
    margin-top: 65px !important;
  }

  .mb8 {
    margin-bottom: 65px !important;
  }

  .mr8 {
    margin-right: 65px !important;
  }

  .ml8 {
    margin-left: 65px !important;
  }
}
.mt9 {
  margin-top: 90px !important;
}

.mb9 {
  margin-bottom: 90px !important;
}

.mr9 {
  margin-right: 90px !important;
}

.ml9 {
  margin-left: 90px !important;
}

@media (max-width: 768px) {
  .mt9 {
    margin-top: 75px !important;
  }

  .mb9 {
    margin-bottom: 75px !important;
  }

  .mr9 {
    margin-right: 75px !important;
  }

  .ml9 {
    margin-left: 75px !important;
  }
}
.mt10 {
  margin-top: 100px !important;
}

.mb10 {
  margin-bottom: 100px !important;
}

.mr10 {
  margin-right: 100px !important;
}

.ml10 {
  margin-left: 100px !important;
}

@media (max-width: 768px) {
  .mt10 {
    margin-top: 85px !important;
  }

  .mb10 {
    margin-bottom: 85px !important;
  }

  .mr10 {
    margin-right: 85px !important;
  }

  .ml10 {
    margin-left: 85px !important;
  }
}
.mt11 {
  margin-top: 110px !important;
}

.mb11 {
  margin-bottom: 110px !important;
}

.mr11 {
  margin-right: 110px !important;
}

.ml11 {
  margin-left: 110px !important;
}

@media (max-width: 768px) {
  .mt11 {
    margin-top: 95px !important;
  }

  .mb11 {
    margin-bottom: 95px !important;
  }

  .mr11 {
    margin-right: 95px !important;
  }

  .ml11 {
    margin-left: 95px !important;
  }
}
.mt12 {
  margin-top: 120px !important;
}

.mb12 {
  margin-bottom: 120px !important;
}

.mr12 {
  margin-right: 120px !important;
}

.ml12 {
  margin-left: 120px !important;
}

@media (max-width: 768px) {
  .mt12 {
    margin-top: 105px !important;
  }

  .mb12 {
    margin-bottom: 105px !important;
  }

  .mr12 {
    margin-right: 105px !important;
  }

  .ml12 {
    margin-left: 105px !important;
  }
}
.mt13 {
  margin-top: 130px !important;
}

.mb13 {
  margin-bottom: 130px !important;
}

.mr13 {
  margin-right: 130px !important;
}

.ml13 {
  margin-left: 130px !important;
}

@media (max-width: 768px) {
  .mt13 {
    margin-top: 115px !important;
  }

  .mb13 {
    margin-bottom: 115px !important;
  }

  .mr13 {
    margin-right: 115px !important;
  }

  .ml13 {
    margin-left: 115px !important;
  }
}
.mt14 {
  margin-top: 140px !important;
}

.mb14 {
  margin-bottom: 140px !important;
}

.mr14 {
  margin-right: 140px !important;
}

.ml14 {
  margin-left: 140px !important;
}

@media (max-width: 768px) {
  .mt14 {
    margin-top: 125px !important;
  }

  .mb14 {
    margin-bottom: 125px !important;
  }

  .mr14 {
    margin-right: 125px !important;
  }

  .ml14 {
    margin-left: 125px !important;
  }
}
.mt15 {
  margin-top: 150px !important;
}

.mb15 {
  margin-bottom: 150px !important;
}

.mr15 {
  margin-right: 150px !important;
}

.ml15 {
  margin-left: 150px !important;
}

@media (max-width: 768px) {
  .mt15 {
    margin-top: 135px !important;
  }

  .mb15 {
    margin-bottom: 135px !important;
  }

  .mr15 {
    margin-right: 135px !important;
  }

  .ml15 {
    margin-left: 135px !important;
  }
}
.mt16 {
  margin-top: 160px !important;
}

.mb16 {
  margin-bottom: 160px !important;
}

.mr16 {
  margin-right: 160px !important;
}

.ml16 {
  margin-left: 160px !important;
}

@media (max-width: 768px) {
  .mt16 {
    margin-top: 145px !important;
  }

  .mb16 {
    margin-bottom: 145px !important;
  }

  .mr16 {
    margin-right: 145px !important;
  }

  .ml16 {
    margin-left: 145px !important;
  }
}
.mt17 {
  margin-top: 170px !important;
}

.mb17 {
  margin-bottom: 170px !important;
}

.mr17 {
  margin-right: 170px !important;
}

.ml17 {
  margin-left: 170px !important;
}

@media (max-width: 768px) {
  .mt17 {
    margin-top: 155px !important;
  }

  .mb17 {
    margin-bottom: 155px !important;
  }

  .mr17 {
    margin-right: 155px !important;
  }

  .ml17 {
    margin-left: 155px !important;
  }
}
.mt18 {
  margin-top: 180px !important;
}

.mb18 {
  margin-bottom: 180px !important;
}

.mr18 {
  margin-right: 180px !important;
}

.ml18 {
  margin-left: 180px !important;
}

@media (max-width: 768px) {
  .mt18 {
    margin-top: 165px !important;
  }

  .mb18 {
    margin-bottom: 165px !important;
  }

  .mr18 {
    margin-right: 165px !important;
  }

  .ml18 {
    margin-left: 165px !important;
  }
}
.mt19 {
  margin-top: 190px !important;
}

.mb19 {
  margin-bottom: 190px !important;
}

.mr19 {
  margin-right: 190px !important;
}

.ml19 {
  margin-left: 190px !important;
}

@media (max-width: 768px) {
  .mt19 {
    margin-top: 175px !important;
  }

  .mb19 {
    margin-bottom: 175px !important;
  }

  .mr19 {
    margin-right: 175px !important;
  }

  .ml19 {
    margin-left: 175px !important;
  }
}
.mauto {
  margin: auto;
}

.abs-right {
  position: absolute;
  right: 0;
}

.abs-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 3.125em;
}

.upper {
  text-transform: uppercase;
}

.secondarycolor {
  color: var(--secondary-color);
}
