@charset "UTF-8";
* {
  box-sizing: border-box;
}

.group {
  display: flow-root;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

@media (max-width: 768px) {
  body,
html {
    font-size: 12px;
  }
}
:root {
  --secondary-color: #10638c;
  --text-color: #444;
  --separator: #474747;
  --background-color: #ffffff;
  --max-width: 1400px;
  --err-color: #ff5b5b;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgb(68, 68, 68);
    --background-color: #cecece;
    --secondary-color: #198ec8;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(206, 206, 206);
    --background-color: #1b1b1b;
  }
}
a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: var(--text-color);
}

p {
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

::selection {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

i {
  display: inline-block;
}

.body {
  display: block;
  min-height: calc(100vh - 50px);
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--separator);
}

@media (max-width: 1200px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
header {
  max-width: var(--max-width);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--background-color);
  transition: opacity 0.1s linear;
  z-index: 999;
}
header .menu_voice {
  width: auto;
  height: 100%;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 1rem;
  z-index: 1000;
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}
.menu .right {
  margin: auto;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100vw;
  height: 50px;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--separator);
}

header:hover,
header:focus {
  opacity: 1;
}

.hamburger {
  position: relative;
  display: none;
  width: 50px;
  height: 50px;
  z-index: 500;
  padding: 5px;
  cursor: pointer;
  z-index: 1001;
}
.hamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--text-color);
  position: absolute;
  border-radius: 5px 0 0 5px;
  border: 1px solid var(--text-color);
}
.hamburger span:nth-child(even) {
  bottom: 35%;
}
.hamburger span:nth-child(odd) {
  top: 35%;
}
.hamburger span:nth-child(3),
.hamburger span:nth-child(4) {
  right: 5px;
  border-radius: 0 5px 5px 0;
}

.hamburger.active span:nth-child(1) {
  animation: span1 0.7s forwards;
}
.hamburger.active span:nth-child(2) {
  animation: span2 0.7s forwards;
}
.hamburger.active span:nth-child(3) {
  animation: span3 0.7s forwards;
}
.hamburger.active span:nth-child(4) {
  animation: span4 0.7s forwards;
}

.hamburger.reverse span:nth-child(1) {
  animation: span1-reverse 0.7s forwards;
}
.hamburger.reverse span:nth-child(2) {
  animation: span2-reverse 0.7s forwards;
}
.hamburger.reverse span:nth-child(3) {
  animation: span3-reverse 0.7s forwards;
}
.hamburger.reverse span:nth-child(4) {
  animation: span4-reverse 0.7s forwards;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    left: -100%;
    top: 0px;
    width: 100vw;
    height: 100vh;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  }
  .menu .menu_voice {
    height: fit-content;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
  .menu .menu_voice:nth-child(1) {
    margin-top: 50px;
  }

  .hamburger {
    display: block;
  }

  .menu.active {
    left: 0;
  }
}
@keyframes span1 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: right;
    transform: rotate(45deg);
  }
}
@keyframes span2 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: right;
    transform: rotate(-45deg);
  }
}
@keyframes span3 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    transform: rotate(-45deg);
  }
}
@keyframes span4 {
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    transform: rotate(45deg);
  }
}
@keyframes span1-reverse {
  100% {
    top: 35%;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  0% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: right;
    transform: rotate(45deg);
  }
}
@keyframes span2-reverse {
  100% {
    bottom: 35%;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  0% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: right;
    transform: rotate(-45deg);
  }
}
@keyframes span3-reverse {
  100% {
    top: 35%;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  0% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    transform: rotate(-45deg);
  }
}
@keyframes span4-reverse {
  100% {
    bottom: 35%;
  }
  50% {
    top: 50%;
    transform: translateY(-50%);
  }
  0% {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    transform: rotate(45deg);
  }
}
.fullvw {
  width: 100vw;
}

.fullvh {
  height: 100vh;
}

.fullw {
  width: 100%;
}

.fullh {
  height: 100%;
}

.pos-rel {
  position: relative;
}

.login_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  height: 100%;
}

@media (max-width: 768px) {
  .login_wrapper {
    align-items: flex-start;
  }
}
.login_container {
  max-width: var(--max-width);
  min-width: 300px;
  width: 100%;
  height: auto;
  padding: 20px;
}

input {
  position: relative;
  border: 0;
  background: transparent;
  color: var(--text-color);
  width: 100%;
  outline: 0;
  display: block;
  z-index: 2;
}

.input_container {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 5px;
  border: 2px solid var(--secondary-color);
  background: transparent;
}
.input_container input {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: auto;
}
.input_container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: all 0.1s linear;
  text-transform: capitalize;
  z-index: 1;
}
.input_container input:focus + label,
.input_container input:active + label,
.input_container input:not(:placeholder-shown) + label {
  top: 20% !important;
  left: 17px !important;
  font-size: 13px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--background-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

.submitbtn {
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  display: block;
}
.submitbtn input {
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
}
.submitbtn input:focus {
  background-color: var(--secondary-color);
}

.err {
  width: fit-content;
  height: fit-content;
  color: var(--err-color);
  font-size: 1rem;
  margin-top: calc(28px - 1rem);
  margin-bottom: 2px;
}

.err.hidden {
  display: block;
  margin-top: 30px;
}

.err:not(.hidden) + .input_container {
  border-color: var(--err-color);
}

.result {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  color: var(--text-color);
}

#eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 20px;
  transition: all 0.1s linear;
  z-index: 3;
}

#eye:focus,
#eye:hover {
  background-color: var(--secondary-color);
}

.profilepic_container {
  position: relative;
  width: 200px;
  height: 200px;
}

.profilepic_container input[type=file] {
  display: none;
}

.profilepic_container label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: large;
  opacity: 0;
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: -1;
  line-height: 200px;
}

.profilepic_container:hover label {
  display: block;
  opacity: 1;
  z-index: 1;
}

footer {
  position: relative;
  z-index: 3;
  width: 100%;
  border-top: 2px solid var(--separator);
  height: auto;
  display: grid;
  grid-template-rows: repeat(3, 33.3333333333%);
  grid-template-columns: repeat(5, 20%);
  padding: 10px;
}

.cc {
  position: relative;
  grid-column: 1/6;
  grid-row: 3;
  text-align: center;
  margin: auto 0;
  opacity: 0.5;
  z-index: 3;
}

.creator__box {
  position: relative;
  grid-column: 2;
  text-align: center;
  z-index: 3;
}

.creator__box:nth-child(2) {
  grid-column: 4;
}

i.fa-github {
  position: relative;
  font-size: 50px;
}

footer #canvas1 {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
}

i.fa-github::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  color: var(--secondary-color);
  overflow: hidden;
  transition: 0.5s;
  z-index: 15;
}

i.fa-github:hover::after,
i.fa-github:active::after,
i.fa-github:focus::after {
  height: 100%;
}

.fullvw {
  width: 100vw;
}

.fullvh {
  height: 100vh;
}

.fullw {
  width: 100%;
}

.fullh {
  height: 100%;
}

.pos-rel {
  position: relative;
}

.search_wrapper {
  padding: 0 20px;
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.search_container {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px 20px;
  border: 2px solid var(--separator);
  border-radius: 20px;
}

input[type=search] {
  position: relative;
  z-index: 0;
}

.result {
  max-width: calc(var(--max-width));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.searchbutton {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  height: 37px;
  width: 37px;
  cursor: pointer;
}

.searchbutton input[type=submit] {
  cursor: pointer;
  padding: 0;
}

.searchbutton * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

.searchbutton i.fa-solid {
  margin-top: 16px;
}

.game {
  width: calc(var(--max-width) / 6);
  margin: 10px 20px;
  transition: all 0.2s linear;
}
.game h2 {
  font-weight: normal;
  margin-top: 5px;
  padding: 10px;
  padding-left: 0%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  transition: all 0.2s linear;
  text-transform: capitalize;
}
.game .img_container {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--separator);
}
.game .img_container img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
.game .pricetag {
  background-color: var(--secondary-color);
  color: var(--textcolor);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  width: fit-content;
  margin-right: 0;
}

.game:hover h2,
.game:focus h2,
.game:active h2 {
  color: var(--secondary-color);
}

.evidenza {
  width: 100%;
}
.evidenza h1 {
  position: relative;
  text-transform: capitalize;
  font-weight: bolder;
}
.evidenza .img_evidenza {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  clip-path: inset(0);
}
.evidenza .img_evidenza img {
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  position: fixed;
  top: 0;
  left: 0;
}
.evidenza .img_evidenza::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.7));
}
.evidenza .content {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 40px;
  max-width: 700px;
  z-index: 5;
  border-radius: 20px;
  color: #cecece;
}
.evidenza .content * {
  position: relative;
  z-index: 6;
}
.evidenza .content p {
  padding: 5px;
  line-height: 1.5rem;
  font-size: 1.1rem;
}
.evidenza .content h1 {
  font-size: 3.125rem;
}

.button {
  padding: 20px 40px;
  background-color: var(--secondary-color);
  width: 100%;
  transition: 0.2s linear;
  text-align: center;
  display: block;
  border-radius: 10px;
  font-size: 16px;
}

.filter_menu {
  width: 20%;
  margin-left: 0px;
  position: relative;
}

@media (max-width: 1400px) {
  .filter_menu {
    width: 30%;
  }
}
.sort_order {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 1.2rem;
  text-align: left;
}

.checkbox-genere:checked + .sort_order {
  background-color: var(--secondary-color);
}

.shop_flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding: 20px;
  margin: 0 auto;
}
.shop_flex .result {
  max-width: none;
}

.errorbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.errorbox h1 {
  color: var(--err-color);
  width: fit-content;
  text-align: center;
}
.errorbox p {
  width: fit-content;
}

.product {
  position: relative;
  margin: 0 auto;
  max-width: calc(var(--max-width));
  width: 100%;
  height: auto;
}
.product .product_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.product .product_content {
  position: relative;
  width: 20%;
  height: fit-content;
  margin: 40px;
}
.product .product_content * {
  text-align: center;
  margin: 10px 0;
}
.product .product_content .voice_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.product .banner_container {
  position: relative;
  width: 80%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .product .product_flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .product .banner_container {
    width: 100%;
  }
  .product .product_content {
    width: 60%;
  }
  .product .description {
    padding: 0 20px;
  }
}

.separator {
  display: block;
  position: relative;
  height: 2px;
  width: 100%;
  background-color: var(--separator);
}

.dot {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--text-color);
  border-radius: 100%;
  margin-right: 5px;
}

h3 .dot:nth-child(1) {
  margin-left: 10px;
}

.stars_container_review {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  padding-left: 0;
}

.dot.star,
input.star:checked ~ label.dot {
  background-color: var(--text-color);
}

.testo_recensione {
  position: relative;
  display: block;
  border: 2px solid var(--separator);
  padding: 10px;
  height: 250px;
}
.testo_recensione input,
.testo_recensione textarea {
  width: 100%;
  height: 100%;
  text-align: start;
  resize: none;
  background-color: transparent;
  color: var(--text-color);
  outline: none;
  border: none;
}

.submit_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.submit_flex .submitbtn {
  width: 100% !important;
}

.generalita {
  margin: auto;
  position: relative;
  max-width: var(--max-width);
  width: 100%;
}
.generalita h1 {
  text-align: center;
}

.pulsante_acquisto {
  padding: 20px 40px;
  background-color: var(--secondary-color);
  width: 100%;
  transition: 0.2s linear;
  text-align: center;
  display: block;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.poster {
  position: relative;
  height: auto;
  color: #cecece !important;
}

.poster__img {
  width: 100%;
  height: 100vh;
}

.poster__content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 800px;
  width: 100%;
  padding: 50px;
}

.poster__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.mt1 {
  margin-top: 10px !important;
}

.mb1 {
  margin-bottom: 10px !important;
}

.mr1 {
  margin-right: 10px !important;
}

.ml1 {
  margin-left: 10px !important;
}

.mt2 {
  margin-top: 20px !important;
}

.mb2 {
  margin-bottom: 20px !important;
}

.mr2 {
  margin-right: 20px !important;
}

.ml2 {
  margin-left: 20px !important;
}

@media (max-width: 768px) {
  .mt2 {
    margin-top: 10px !important;
  }

  .mb2 {
    margin-bottom: 10px !important;
  }

  .mr2 {
    margin-right: 10px !important;
  }

  .ml2 {
    margin-left: 10px !important;
  }
}
.mt3 {
  margin-top: 30px !important;
}

.mb3 {
  margin-bottom: 30px !important;
}

.mr3 {
  margin-right: 30px !important;
}

.ml3 {
  margin-left: 30px !important;
}

@media (max-width: 768px) {
  .mt3 {
    margin-top: 20px !important;
  }

  .mb3 {
    margin-bottom: 20px !important;
  }

  .mr3 {
    margin-right: 20px !important;
  }

  .ml3 {
    margin-left: 20px !important;
  }
}
.mt4 {
  margin-top: 40px !important;
}

.mb4 {
  margin-bottom: 40px !important;
}

.mr4 {
  margin-right: 40px !important;
}

.ml4 {
  margin-left: 40px !important;
}

@media (max-width: 768px) {
  .mt4 {
    margin-top: 30px !important;
  }

  .mb4 {
    margin-bottom: 30px !important;
  }

  .mr4 {
    margin-right: 30px !important;
  }

  .ml4 {
    margin-left: 30px !important;
  }
}
.mt5 {
  margin-top: 50px !important;
}

.mb5 {
  margin-bottom: 50px !important;
}

.mr5 {
  margin-right: 50px !important;
}

.ml5 {
  margin-left: 50px !important;
}

@media (max-width: 768px) {
  .mt5 {
    margin-top: 40px !important;
  }

  .mb5 {
    margin-bottom: 40px !important;
  }

  .mr5 {
    margin-right: 40px !important;
  }

  .ml5 {
    margin-left: 40px !important;
  }
}
.mt6 {
  margin-top: 60px !important;
}

.mb6 {
  margin-bottom: 60px !important;
}

.mr6 {
  margin-right: 60px !important;
}

.ml6 {
  margin-left: 60px !important;
}

@media (max-width: 768px) {
  .mt6 {
    margin-top: 50px !important;
  }

  .mb6 {
    margin-bottom: 50px !important;
  }

  .mr6 {
    margin-right: 50px !important;
  }

  .ml6 {
    margin-left: 50px !important;
  }
}
.mt7 {
  margin-top: 70px !important;
}

.mb7 {
  margin-bottom: 70px !important;
}

.mr7 {
  margin-right: 70px !important;
}

.ml7 {
  margin-left: 70px !important;
}

@media (max-width: 768px) {
  .mt7 {
    margin-top: 60px !important;
  }

  .mb7 {
    margin-bottom: 60px !important;
  }

  .mr7 {
    margin-right: 60px !important;
  }

  .ml7 {
    margin-left: 60px !important;
  }
}
.mt8 {
  margin-top: 80px !important;
}

.mb8 {
  margin-bottom: 80px !important;
}

.mr8 {
  margin-right: 80px !important;
}

.ml8 {
  margin-left: 80px !important;
}

@media (max-width: 768px) {
  .mt8 {
    margin-top: 70px !important;
  }

  .mb8 {
    margin-bottom: 70px !important;
  }

  .mr8 {
    margin-right: 70px !important;
  }

  .ml8 {
    margin-left: 70px !important;
  }
}
.mt9 {
  margin-top: 90px !important;
}

.mb9 {
  margin-bottom: 90px !important;
}

.mr9 {
  margin-right: 90px !important;
}

.ml9 {
  margin-left: 90px !important;
}

@media (max-width: 768px) {
  .mt9 {
    margin-top: 80px !important;
  }

  .mb9 {
    margin-bottom: 80px !important;
  }

  .mr9 {
    margin-right: 80px !important;
  }

  .ml9 {
    margin-left: 80px !important;
  }
}
.mt10 {
  margin-top: 100px !important;
}

.mb10 {
  margin-bottom: 100px !important;
}

.mr10 {
  margin-right: 100px !important;
}

.ml10 {
  margin-left: 100px !important;
}

@media (max-width: 768px) {
  .mt10 {
    margin-top: 90px !important;
  }

  .mb10 {
    margin-bottom: 90px !important;
  }

  .mr10 {
    margin-right: 90px !important;
  }

  .ml10 {
    margin-left: 90px !important;
  }
}
.mt11 {
  margin-top: 110px !important;
}

.mb11 {
  margin-bottom: 110px !important;
}

.mr11 {
  margin-right: 110px !important;
}

.ml11 {
  margin-left: 110px !important;
}

@media (max-width: 768px) {
  .mt11 {
    margin-top: 100px !important;
  }

  .mb11 {
    margin-bottom: 100px !important;
  }

  .mr11 {
    margin-right: 100px !important;
  }

  .ml11 {
    margin-left: 100px !important;
  }
}
.mt12 {
  margin-top: 120px !important;
}

.mb12 {
  margin-bottom: 120px !important;
}

.mr12 {
  margin-right: 120px !important;
}

.ml12 {
  margin-left: 120px !important;
}

@media (max-width: 768px) {
  .mt12 {
    margin-top: 110px !important;
  }

  .mb12 {
    margin-bottom: 110px !important;
  }

  .mr12 {
    margin-right: 110px !important;
  }

  .ml12 {
    margin-left: 110px !important;
  }
}
.mt13 {
  margin-top: 130px !important;
}

.mb13 {
  margin-bottom: 130px !important;
}

.mr13 {
  margin-right: 130px !important;
}

.ml13 {
  margin-left: 130px !important;
}

@media (max-width: 768px) {
  .mt13 {
    margin-top: 120px !important;
  }

  .mb13 {
    margin-bottom: 120px !important;
  }

  .mr13 {
    margin-right: 120px !important;
  }

  .ml13 {
    margin-left: 120px !important;
  }
}
.mt14 {
  margin-top: 140px !important;
}

.mb14 {
  margin-bottom: 140px !important;
}

.mr14 {
  margin-right: 140px !important;
}

.ml14 {
  margin-left: 140px !important;
}

@media (max-width: 768px) {
  .mt14 {
    margin-top: 130px !important;
  }

  .mb14 {
    margin-bottom: 130px !important;
  }

  .mr14 {
    margin-right: 130px !important;
  }

  .ml14 {
    margin-left: 130px !important;
  }
}
.mt15 {
  margin-top: 150px !important;
}

.mb15 {
  margin-bottom: 150px !important;
}

.mr15 {
  margin-right: 150px !important;
}

.ml15 {
  margin-left: 150px !important;
}

@media (max-width: 768px) {
  .mt15 {
    margin-top: 140px !important;
  }

  .mb15 {
    margin-bottom: 140px !important;
  }

  .mr15 {
    margin-right: 140px !important;
  }

  .ml15 {
    margin-left: 140px !important;
  }
}
.mt16 {
  margin-top: 160px !important;
}

.mb16 {
  margin-bottom: 160px !important;
}

.mr16 {
  margin-right: 160px !important;
}

.ml16 {
  margin-left: 160px !important;
}

@media (max-width: 768px) {
  .mt16 {
    margin-top: 150px !important;
  }

  .mb16 {
    margin-bottom: 150px !important;
  }

  .mr16 {
    margin-right: 150px !important;
  }

  .ml16 {
    margin-left: 150px !important;
  }
}
.mt17 {
  margin-top: 170px !important;
}

.mb17 {
  margin-bottom: 170px !important;
}

.mr17 {
  margin-right: 170px !important;
}

.ml17 {
  margin-left: 170px !important;
}

@media (max-width: 768px) {
  .mt17 {
    margin-top: 160px !important;
  }

  .mb17 {
    margin-bottom: 160px !important;
  }

  .mr17 {
    margin-right: 160px !important;
  }

  .ml17 {
    margin-left: 160px !important;
  }
}
.mt18 {
  margin-top: 180px !important;
}

.mb18 {
  margin-bottom: 180px !important;
}

.mr18 {
  margin-right: 180px !important;
}

.ml18 {
  margin-left: 180px !important;
}

@media (max-width: 768px) {
  .mt18 {
    margin-top: 170px !important;
  }

  .mb18 {
    margin-bottom: 170px !important;
  }

  .mr18 {
    margin-right: 170px !important;
  }

  .ml18 {
    margin-left: 170px !important;
  }
}
.mt19 {
  margin-top: 190px !important;
}

.mb19 {
  margin-bottom: 190px !important;
}

.mr19 {
  margin-right: 190px !important;
}

.ml19 {
  margin-left: 190px !important;
}

@media (max-width: 768px) {
  .mt19 {
    margin-top: 180px !important;
  }

  .mb19 {
    margin-bottom: 180px !important;
  }

  .mr19 {
    margin-right: 180px !important;
  }

  .ml19 {
    margin-left: 180px !important;
  }
}
.mt20 {
  margin-top: 200px !important;
}

.mb20 {
  margin-bottom: 200px !important;
}

.mr20 {
  margin-right: 200px !important;
}

.ml20 {
  margin-left: 200px !important;
}

@media (max-width: 768px) {
  .mt20 {
    margin-top: 190px !important;
  }

  .mb20 {
    margin-bottom: 190px !important;
  }

  .mr20 {
    margin-right: 190px !important;
  }

  .ml20 {
    margin-left: 190px !important;
  }
}
.m0 {
  margin: 0;
}

.mauto {
  margin: auto;
}

.abs-right {
  position: absolute;
  right: 0;
}

.abs-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-size: 3.125rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.upper {
  text-transform: uppercase;
}

.secondarycolor {
  color: var(--secondary-color);
}

.bold {
  font-weight: bold;
}

.txtcenter {
  text-align: center;
}

.txtjustify {
  text-align: justify;
}

.scalehover:hover,
.scalehover:focus,
.scalehover:active {
  transform-origin: center center;
  transform: scale(1.05);
  transition: 0.1s linear;
  position: relative;
}

.hidden {
  display: none;
}

.hoverglow {
  transition: color 0.3s linear;
}

.backglow {
  transition: background-color 0.3s linear;
}

.hoverglow:hover,
.hoverglow:focus {
  color: var(--secondary-color);
}

.backglow:hover,
.backglow:focus {
  background-color: var(--secondary-color);
}

.right {
  margin-right: 0;
  margin-left: auto;
}

.inline {
  display: inline-block;
}

.no-txt-transform {
  text-transform: none !important;
}

.pointer {
  cursor: pointer;
}

.create_form {
  width: 80%;
  margin: auto;
  height: fit-content;
  padding: 10px;
}

.m10 {
  margin: 5px;
}

.centered {
  text-align: center;
}

.generalita {
  margin: auto;
  position: relative;
  width: fit-content;
  max-width: 80%;
  flex: content;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  transition: 0.3s linear;
  word-wrap: break-word;
}

.contorno {
  border: 2px solid var(--separator);
  border-radius: 20px;
}

.messaggio {
  margin: auto;
  position: relative;
  width: 60%;
  flex: content;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  word-wrap: break-word;
  height: fit-content;
}

.eliminare {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 500;
  padding: 5px;
  z-index: 1001;
}

.meno {
  display: block;
  width: 30px;
  height: 3px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
  margin: auto;
}
