* {
  box-sizing: border-box;
}

.group {
  display: flow-root;
}

html,
body {
  scroll-behavior: smooth;
  height: 0;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    --secondary-color: rgb(82, 4, 82);
    --text-color: rgb(0, 0, 0);
    --separator: rgb(71, 71, 71);
    --background-color: rgb(255, 255, 255);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --secondary-color: rgb(82, 4, 82);
    --text-color: rgb(255, 255, 255);
    --separator: rgb(71, 71, 71);
    --background-color: black;
  }
}
a {
  text-decoration: none;
  font-weight: normal;
  color: var(--text-color);
}

.hoverglow {
  transition: color 0.3s linear;
}

.backglow {
  transition: background-color 0.3s linear;
}

.hoverglow:hover,
.hoverglow:focus {
  color: var(--secondary-color);
}

.backglow:hover,
.backglow:focus {
  background-color: var(--secondary-color);
}

header {
  max-width: 1400px;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: nowrap;
}
header .menu {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
header .menu_voice {
  height: 100%;
  width: max-content;
  line-height: 100px;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 1.2em;
}
header .right {
  margin: auto;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  width: 100vw;
  border-bottom: 2px solid var(--separator);
}

.fullvw {
  width: 100vw;
}

.fullvh {
  height: 100vh;
}

.login_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.login_container {
  width: 500px;
  height: 500px;
  box-shadow: 0 0 10px 10px var(--secondary-color);
}

.back_btn {
  position: absolute;
  top: 30%;
  left: 30%;
  text-transform: uppercase;
  font-size: 1.2em;
}
