$padding:20px;
.search_container {
    position: relative;
    max-width: var(--max-width);
    width: 100%;
    height: auto;
    padding: $padding/4 $padding;
    border: 2px solid var(--separator);
    border-radius: 20px;
    margin: auto;
}

input[type="search"] {
    position: relative;
    z-index: 0;
}

.result {
    max-width: calc(var(--max-width) + 40px);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.searchbutton {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    height: 37px;
    width: 37px;
    cursor: pointer;
}

.searchbutton input[type='submit'] {
    cursor: pointer;
    padding: 0;
}

.searchbutton * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}

.searchbutton i.fa-solid {
    margin-top: 16px;
}

.game {
    width: calc(var(--max-width) / 5);
    margin: 10px 20px;
    // border: 2px solid var(--separator);
    h2 {
        font-weight: normal;
        margin-top: 5px;
        padding: 10px;
        padding-left: 0%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4em;
    }
    .img_container {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 20px;
        overflow: hidden;
        img {
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
    .pricetag {
        background-color: var(--secondary-color);
        color: var(--textcolor);
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        width: fit-content;
        // margin-left: auto;
        margin-right: 0;
    }
}