$colonne: 5;
$righe: 3;
footer {
    position: relative;
    z-index: 3;
    width: 100%;
    border-top: 2px solid var(--separator);
    height: auto;
    // position: absolute;
    // bottom: 0;
    display: grid;
    grid-template-rows: repeat(#{$righe}, #{100%/$righe});
    grid-template-columns: repeat(#{$colonne}, #{100%/$colonne});
    padding: 10px;
}

.cc {
    position: relative;
    grid-column: 1 / #{$colonne +1};
    grid-row: #{$righe};
    text-align: center;
    margin: auto 0;
    opacity: .5;
    z-index: 3;
}

.creator__box {
    position: relative;
    grid-column: 2;
    text-align: center;
    z-index: 3;
}

.creator__box:nth-child(2) {
    grid-column: 4;
}

i.fa-github {
    position: relative;
    font-size: 50px;
}

footer #canvas1 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

i.fa-github::after {
    content: '\f09b';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    color: var(--secondary-color);
    overflow: hidden;
    transition: .5s;
    z-index: 15;
}

i.fa-github:hover::after,
i.fa-github:active::after,
i.fa-github:focus::after {
    height: 100%;
}