.max-container {
    max-width: calc(var(--max-width) + 20px);
    width: 100%;
    margin: auto;
    padding: 20px;
}

.create_form {
    width: 100%;
    margin: auto;
    height: fit-content;
}

// .centered {
//     text-align: center;
// }
.generalita {
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    flex: content;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.3s linear;
    word-wrap: break-word
}

// .sopra:hover {
//     transform: scale(1.2);
//     margin-top: 30px;
//     margin-bottom: 30px;
// }
.contorno {
    border: 2px solid var(--separator);
    border-radius: 20px;
}

.messaggio {
    margin: auto;
    position: relative;
    width: 60%;
    flex: content;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    word-wrap: break-word;
    height: fit-content;
}

.eliminare {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 500;
    padding: 5px;
    z-index: 1001;
}

.meno {
    display: block;
    width: 30px;
    height: 3px;
    cursor: pointer;
    background-color: var(--separator);
    border-radius: 5px 0 0 5px;
    // border: 1px solid var(--separator);
    margin: auto;
  }

  .sopra:hover{
      transform: scale(1.1);
  }

  .barra_messaggio{
    position: fixed;
    width: 100%;
    z-index: 3000;
    background-color: lightgray;
    height: fit-content;
    margin-top: 77vh;
  }
