$shadowsize:30px;
$sahdowblur:10px;
$errorcolor: red;
@use './components/utils.scss' as *;
.login_wrapper {
    @include flex(center, space-around, nowrap);
}

@media (max-width:768px){
    .login_wrapper{
        @include flex(flex-start, center, nowrap)
    }
}

.login_container {
    max-width: calc(var(--max-width) - 400px);
    min-width: 300px;
    width: 100%;
    height: fit-content;
    // box-shadow: 0 0 $shadowsize $sahdowblur var(--secondary-color);
    padding: 20px;
   
}

.input_container {
    position: relative;
    width: 100%;
    border: 2px solid var(--secondary-color);
}

input {
    border: 0;
    background: transparent;
    color: var(--text-color);
    padding: 10px;
    width: 90%;
    outline: 0;
    display: inline-block;
}

input[type="submit"] {
    display: block;
    padding: 0;
}

.submitbtn {
    width: 50%;
    height: 50px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
}

.err {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    // border: 1px solid var(--err-color);
    color: var(--err-color);
}

#eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.1s linear;
}

#eye:focus,
#eye:hover{
    background-color: var(--secondary-color);
}

