@use './components/utils.scss' as *;
.login_wrapper {
    @include flex(center, center, nowrap);
}

.login_container {
    // width: max-content;
    // height: max-content;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px 10px var(--secondary-color);
}

.back_btn {
    position: absolute;
    top: 30%;
    left: 30%;
    text-transform: uppercase;
    font-size: 1.2em;
}