$shadowsize:30px;
$sahdowblur:10px;
$errorcolor: red;
@use './components/utils.scss' as *;
.login_wrapper {
    @include flex(center, center, nowrap);
}

.login_container {
    // width: max-content;
    // height: max-content;
    max-width: calc(var(--max-width) - 400px);
    width: 100%;
    height: fit-content;
    box-shadow: 0 0 $shadowsize $sahdowblur var(--secondary-color);
    padding: 40px;
    margin: 0 $shadowsize*3;
}

.input_container {
    position: relative;
    width: 100%;
    border: 2px solid var(--secondary-color);
}

input {
    border: 0;
    background: transparent;
    color: var(--text-color);
    padding: 10px;
    width: 90%;
    outline: 0;
    display: inline-block;
}

input[type="submit"] {
    display: block;
    padding: 0;
}

.submitbtn {
    width: 50%;
    height: 50px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
}

.err {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    // border: 1px solid var(--err-color);
    color: var(--err-color);
}

#eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

#eye::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: var(--secondary-color);
    width: 0;
    height: 0;
    transition: all 0.3s linear;
    padding: 10px;
}

#eye:hover::after,
#eye:focus::after {
    width: 20px;
    height: 20px;
}