.product {
    position: relative;
    margin: 0 auto;
    max-width: var(--max-width);
    width: 100%;
    height: auto;
    .product_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .product_content {
        position: relative;
        width: 20%;
        height: 400px;
        margin: 40px;
        .separator {
            display: block;
            position: relative;
            height: 2px;
            width: 100%;
            margin: 10px 0px;
            background-color: var(--separator);
        }
        * {
            text-align: center;
            margin: 10px 0;
        }
    }
    .banner_container {
        position: relative;
        width: 80%;
        height: auto;
        border-radius: 20px;
        overflow: hidden;
    }
    @media (max-width: 1400px) {
        .product_flex {
            flex-wrap: wrap;
            justify-content: center;
        }
        .banner_container {
            width: 100%;
        }
        .product_content {
            width: 60%;
        }
    }
}

.button {
    display: block;
    width: 100%;
    padding: 20px 40px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}