@use './components/utils.scss' as *;
.product {
    position: relative;
    margin: 0 auto;
    max-width: calc(var(--max-width));
    width: 100%;
    height: auto;
    .product_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .product_content {
        position: relative;
        width: 20%;
        height: 400px;
        margin: 40px;
        * {
            text-align: center;
            margin: 10px 0;
        }
        .voice_flex {
            @include flex(center, space-between, nowrap);
        }
    }
    .banner_container {
        position: relative;
        width: 80%;
        height: auto;
        border-radius: 20px;
        overflow: hidden;
    }
    @media (max-width: 1400px) {
        .product_flex {
            flex-wrap: wrap;
            justify-content: center;
        }
        .banner_container {
            width: 100%;
        }
        .product_content {
            width: 60%;
        }
        .description {
            padding: 0 20px;
        }
    }
}

.separator {
    display: block;
    position: relative;
    height: 2px;
    width: 100%;
    // margin: 10px 0px;
    background-color: var(--separator);
}

.dot {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--text-color);
    border-radius: 100%;
    margin-right: 5px;
}

h3 .dot:nth-child(1) {
    margin-left: 10px;
}

.dot.star {
    background-color: var(--text-color);
}