.evidenza{
    width: 60%;
    height: 40%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    h1{
        text-align: center;
    }
}

.img_evidenza{
    width: fit-content;
    height: 100%;
    padding: 5px;
    position:relative;
    margin: auto;
    img{
        border-radius: 25px;
    }
}