.evidenza {
    width: 100%;
    height: fit-content;
    // margin: auto;
    h1 {
        text-align: center;
        position: relative;
        text-transform: capitalize;
    }
    .img_evidenza {
        // max-width: var(--max-width);
        width: 100%;
        height: calc(100vh - 50px);
        // padding: 5px;
        position: relative;
        clip-path: inset(0);
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}