.evidenza {
    width: 100%;
    height: fit-content;
    // margin: auto;
    h1 {
        position: relative;
        text-transform: capitalize;
        font-weight: bolder;
    }
    .img_evidenza {
        width: 100%;
        height: calc(100vh - 50px);
        // padding: 5px;
        position: relative;
        clip-path: inset(0);
        img {
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    .img_evidenza::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgb(0, 0, 0, .3) 60%, rgb(0, 0, 0, .9));
    }
    .content {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px 40px;
        max-width: 500px;
        z-index: 5;
        * {
            position: relative;
            z-index: 6;
        }
        p {
            padding: 5px;
            line-height: 1.5em;
            font-size: 1.1em;
        }
    }
}

.button {
    padding: 20px 40px;
    background-color: var(--secondary-color);
    width: fit-content;
    transition: .2s linear;
    text-align: center;
}

#menuButton {
    background-color: black;
    color: white;
    padding: 5px 5px;
    border: solid black 2px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

#menu {
    width: 10%;
    margin-left: 0px;
    position: relative;
}

.bottone {
    margin: 5px;
    cursor: pointer;
}