* {
    box-sizing: border-box;
}


.group {
    display: flow-root;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@media (max-width:768px) {
    body,
    html {
        font-size: 12px;
    }
}

$rosso: #8c1010;
$azzurro: #10638c;
$blu: #31108c;
$azzurro-chiaro: #198ec8;
:root {
    --secondary-color: #{$azzurro};
    --text-color: #444;
    --separator: #474747;
    --background-color: #ffffff;
    --max-width: 1400px;
    --err-color: #ff5b5b;
}

@media (prefers-color-scheme: light) {
     :root {
        --text-color: rgb(68, 68, 68);
        --background-color: #cecece;
        --secondary-color: #{$azzurro-chiaro};
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --text-color: rgb(206, 206, 206);
        --background-color: #1b1b1b;
    }
}

a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: var(--text-color);
}

p {
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

::selection {
    background-color: var(--secondary-color);
    color: var(--text-color);
}


.body {
    display: flow-root;
    min-height: calc(100vh - 50px);
    width: 100%;
    height: 100%;
    // margin-top: 60px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--separator);
}

@media (max-width:1200px) {
     ::-webkit-scrollbar {
        width: 5px;
    }
}