* {
    box-sizing: border-box;
}

.group {
    display: flow-root;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

$rosso: #8c1010;
$azzurro: #10638c;
$blu: #31108c;
$azzurro-chiaro: #198ec8;
:root {
    --secondary-color: #{$azzurro};
    --text-color: rgb(0, 0, 0);
    --separator: rgb(71, 71, 71);
    --background-color: rgb(255, 255, 255);
    --max-width: 1400px;
    --err-color: #ff5b5b;
}

@media (prefers-color-scheme: light) {
     :root {
        --text-color: #444;
        --background-color: rgb(206, 206, 206);
        --secondary-color: #{$azzurro-chiaro};
    }
}

@media (prefers-color-scheme: dark) {
     :root {
        --text-color: rgb(206, 206, 206);
        --background-color: #1b1b1b;
    }
}

a {
    text-decoration: none;
    font-weight: normal;
    color: var(--text-color);
}

.hoverglow {
    transition: color .3s linear;
}

.backglow {
    transition: background-color .3s linear;
}

.hoverglow:hover,
.hoverglow:focus {
    color: var(--secondary-color);
}

.backglow:hover,
.backglow:focus {
    background-color: var(--secondary-color);
}

::selection {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.hidden {
    display: none;
}

i {
    display: inline-block;
}

.right {
    margin-right: 0;
    margin-left: auto;
}

.body{
    min-width: auto;
    min-height: calc(100vh - 100px);
    width: 100%;
    height: max-content;
    margin-top: 50px;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--separator);
}

@media (max-width:1200px){
    ::-webkit-scrollbar{
        width: 5px;
    }
}


